{% extends 'layout.html' %}
{% block body %}
    <h1>Ten bai viet</h1>
    <div class="entries-detail">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ item.title }}
                </h3>
            </div>
            <div class="panel-body">
                <p class="lead">
                    {{ item.description }}
                </p>
                <div class="content post-content">
                    {{ item.content }}
                </div>
                <div class="timestamp">
                    {{ item.create_date | datetime }}
                </div>
                <a href="{{ url_for('blog_index') }}"><span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
                <a href="{{ url_for('blog_edit', post_id=item.id) }}"><span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
{% endblock %}